<section id="main-content">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-y-12 items-center">
        <div class="px-10 order-last md:order-first mb-5">
            <h1 class="text-[#233040] font-bold text-4xl mb-6">Transform your brand</h1>
            <p class="text-[#848389] mb-6 text-xl">We are full-service creative agency specializing in helping brands grow fast. Engage your clientes through compelling visuals that do most of the marketing for you.</p>
            <a href="" class="font-bold hover:underline hover:decoration-[#FFD600] hover:decoration-4 text-2xl">Learn More</a>
        </div>
        <div>
            <img src="egg.jpg" alt="">
        </div>
    </div>
</section>
<section>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-y-12 items-center">
        <div class="px-10 order-last mb-5">
            <h1 class="text-[#233040] font-bold text-4xl mb-6">Stand out to the right audience</h1>
            <p class="text-[#848389] mb-6 text-xl">Using a collaborative formula of designers, researchers, photographers, videographers, and copywriters, we'll build and extend your brand in digital places.</p>
            <a href="" class="font-bold hover:underline hover:decoration-[#FF7568] hover:decoration-4 text-2xl">Learn More</a>
        </div>
        <div>
            <img src="cup.jpg" alt="">
        </div>
    </div>
</section>