<section class="bg-[#3EBFFF] text-center pt-10">
    <h1 class="text-4xl uppercase text-white font-bold mb-4">We are Creatives</h1>
    <div class="relative">
        <a href="#main-content" class="absolute">
            <img src="icon-arrow-down.svg" alt="">
        </a>
        <img src="image-header.jpg" alt="">
    </div>
</section>