---
const image1 = "image-gallery-milkbottles.jpg";
const image2 = "image-gallery-orange.jpg";
const image3 = "image-gallery-cone.jpg";
const image4 = "image-gallery-sugar-cubes.jpg";
---
<section>
    <div class="container mx-auto grid grid-cols-2 sm:grid-cols-4">
        <div>
            <img src={image1} alt="">
        </div>
        <div>
            <img src={image2} alt="">
        </div>
        <div>
            <img src={image3} alt="">
        </div>
        <div>
            <img src={image4} alt="">
        </div>
    </div>
</section>
