<section class="grid grid-cols-1 sm:grid-cols-2">
    <div class="relative flex flex-row">
        <img src="image-graphic-design.jpg" alt="">
        <div class="absolute text-center items-center bottom-0">
            <h1 class="text-[#1F5148] font-bold text-md sm:2xl mb-3">Graphic Design</h1>
            <p class="text-[#1F5148] px-10 text-sm sm:text-md mb-3">Great design makes you memorable. We deliver artwork that underscores your brand message and captures potential clients attention.</p>
        </div>
    </div>
    <div class="relative flex flex-row">
        <img src="image-photography.jpg" alt="">
        <div class="absolute text-center items-center bottom-0">
            <h1 class="text-[#195570] font-bold text-md sm:2xl mb-3">Photography</h1>
            <p class="text-[#195570] px-10 text-sm sm:text-md mb-3">Increase your credibility by getting the most stunning, high-quality photos that improve your business image.</p>
        </div>
    </div>
</section>