---
import Articule from "../components/articule.astro";
import Nav from "../components/nav.astro";
import Photographies from "../components/photographies.astro";
import FirstLayout from "../layouts/firstLayout.astro";
import Footer from "../components/footer.astro";
import FirstSection from "../components/firstSection.astro";
import SecondSection from "../components/secondSection.astro";
---
<FirstLayout>
	<Nav></Nav>
	<section class="bg-[#3EBFFF] text-center pt-10">
		<h1 class="text-4xl uppercase text-white font-bold mb-4">We are Creatives</h1>
		<div class="relative">
			<a href="#main-content" class="absolute">
				<img src="icon-arrow-down.svg" alt="">
			</a>
			<img src="image-header.jpg" alt="">
		</div>
	</section>
	<FirstSection></FirstSection>
	<SecondSection></SecondSection>
			<Articule></Articule>
		<Photographies></Photographies>
	<Footer></Footer>
</FirstLayout>
	