---
---
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8">
    <title>SunnySide</title>
    <link rel="icon" href="icon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body class=" font-['Barlow-600'] scroll-smooth">
      <slot /> <!-- your content is injected here -->
  </body>
</html>

<script>
	import 'flowbite';
</script>